/*!
 * IN FUENTES DE LA TERMINAL
 */




@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap');



.container-fluid{padding-right:0px;padding-left:0px;margin-right:auto;margin-left:auto;max-width:1440px;}
@media (max-width:767px){.container-fluid{padding-right:10px;padding-left:10px;margin-right:1px;margin-left:auto;}}

.container{padding-right:10px;padding-left:10px;margin-right:auto;margin-left:auto;}
@media (min-width:768px){.container{width:766px}} 
@media (min-width:992px){.container{width:990px}}
@media (min-width:1300px){.container{width:1250px}} 




body {
   font-size: 15px;
   font-family:'Poppins', sans-serif;
   font-weight:400;
  
}

a {
  color: #575757;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #910c0c;
  text-decoration: none;
}

.sublink {
  font-size:16px;
  color: #575757;
}

.sublink:hover,
.sublink:focus {
  color: #910c0c;
  text-decoration: none;
}

.life {
	font-size: 15px;
   font-family:'Poppins', sans-serif;
   font-weight:700;}

.glyphicon  {
	font-size: 0.7em;
  margin-bottom:3px;
}

.ofset0  {
	margin-left: 0;
      margin-right: 0;
	  padding-left: 0;
      padding-right: 0;
}

h1,
h2,
h3,

.h1,
.h2,
.h3,
 {
   font-family:'Poppins', sans-serif;
   font-weight:900;
  line-height: 1.1;
  color: inherit;
}

h1, .h1 {
 font-size: 2.8em;
}

.nopadding {
   padding: 0 !important; 
   margin: 0 !important;
}

.foolink,.foolink:visited  {
  font-family: 'Poppins', sans-serif;
	font-size: 14px;
	color: #cfcfcf;
  text-decoration: none; 
}
.foolink :hover {
  color: #ffffff;
  background-color: transparent; 
  text-decoration: none; 
}

.carousel-caption {
  position: absolute;
  right: 5%; 
  top: 5%;
  left: 12%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #474747;
  text-align: left;
  text-shadow: none;
}


.carousel-control {
  position: absolute;
  top: 180px;
  bottom: 0;
  left: 0;
  width: 47px;
  font-size: 20px;
  color: #fff;
  text-align: center;
  filter: alpha(opacity=50);
  opacity: .5;
  background-color: #000000;
}
.carousel-control.left {
  left: auto;
  height: 47px;
  background-image: none;
  background-image: none;
  filter: none;
  background-repeat:  none;
}
.carousel-control.right {
  right: 0;
  left: auto;
  height: 47px;
 background-image:  none;
  background-image:  none;
  filter:  none;
  background-repeat:  none;
}
.carousel-control:hover,
.carousel-control:focus {
  color: #fff;
  text-decoration: none;
  filter: alpha(opacity=90);
  background-color: #24a3dd;
  outline: none;
  opacity: .9;
}
.carousel-control .icon-prev,
.carousel-control .icon-next,
.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right {
  position: absolute;
  top: 50%;
  z-index: 5;
  display: inline-block;
}


@media screen and (min-width: 768px) {
  .carousel-control .glyphicon-chevron-left,
  .carousel-control .glyphicon-chevron-right,
  .carousel-control .icon-prev,
  .carousel-control .icon-next {
    width: 30px;
    height: 30px;
    margin-top: -15px;
    margin-left: -15px;
    font-size: 30px;
  }
  .carousel-caption {
    right: 1%;
	top:8%;
    left: 7%;
    padding-bottom: 20px;
  }
  .carousel-indicators {
    bottom: 10px;
  }
}

.search_home {
background-color:#d1d1d1; padding:30px;
}

.btn-cta, .btn-cta:visited {
font-family: 'Poppins', sans-serif;
	border-radius:30px;
  padding:15px 40px 15px 40px;
  font-weight:700;
  font-size:17px;
  text-align:center;
  color: #ffffff;
  background-color: #585858;
  margin-top:5px;
} 
.btn-cta:focus,
.btn-cta.focus {
  color: #ffffff;
  background-color: #141d27;
}
.btn-cta:hover {
  color: #ffffff;
  background-color: #141d27;
}
.btn-cta:active,
.btn-cta.active,
.open > .dropdown-toggle.btn-cta {
  color: #ffffff;
  background-color: #141d27;
  border-color: #141d27;
}


.btn-cta2 {
  font-family: "Regular",sans-serif;
  font-size:17px;
  color: #fff;
  background-color: #133d5f;
  border-radius: 0px;
  padding:15px 40px 15px 40px;
  margin-top:5px;
}
.btn-cta2:focus,
.btn-cta2.focus {
  color: #fff;
  background-color: #161958;
}
.btn-cta2:hover {
  color: #fff;
  background-color: #054b7f;
}
.btn-cta2:active,
.btn-cta2.active,
.open > .dropdown-toggle.btn-cta2 {
  color: #fff;
  background-color: #161958;
  border-color: #161958;
}


.blanc {
  color: #fff;
}

.bggrey {
   background-color: #f1f1f1;
}




.conpad {
  padding-top:40px;
  padding-bottom:40px;
}

.titautomenu {
  height:40px;
  font-size:1.1em;
}

/*!
 *********************** IN NAVBAR PRINCIPAL ***********************
 */
 
  .dropdown-menu {
  
  border:0px solid red;
}

.navbar-principal {
  z-index: 100;
  background-color: #ffffff;
  font-family: 'Poppins',sans-serif;
  font-weight: 400;
	letter-spacing:-1px;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  border-radius:0;
  border:0;
  height:70px; 
  
}
@media (max-width: 767px) {
	.navbar-principal {
	height:auto; 
	padding-left:0px; 
	}
}
.navbar-principal .navbar-nav {
  padding-top: 14px;
}

.navbar-principal .navbar-nav > li > a {
  color: #575757;
  padding:12px 15px 0 5px;
}
.navbar-principal .navbar-nav > li > a:hover,
.navbar-principal .navbar-nav > li > a:focus {
  color: #910c0c;
  background-color: transparent;
}
.navbar-principal .navbar-nav > .active > a,
.navbar-principal .navbar-nav > .active > a:hover,
.navbar-principal .navbar-nav > .active > a:focus {
  color: #910c0c;
  background-color: transparent;
  /*border:1px solid #b8b8b8;*/
}
.navbar-principal .navbar-toggle {
  border-color: transparent;
}
.navbar-principal .navbar-toggle:hover,
.navbar-principal .navbar-toggle:focus {
  background-color: #ffffff;
}

.navbar-principal .navbar-toggle .icon-bar {
  background-color: #474747;
  display: block;
  width: 30px;
  height: 3px;
  border-radius: 0px;
}
.navbar-principal .navbar-collapse,
.navbar-principal .navbar-form {
  border-color: #101010;
}
.navbar-principal .navbar-nav > .open > a,
.navbar-principal .navbar-nav > .open > a:hover,
.navbar-principal .navbar-nav > .open > a:focus {
  color: #000000;
  background-color: transparent;
}

@media (max-width: 767px) {
	.navbar-principal .navbar-toggle {
	padding-top: 15px;
	margin-right: 0px;
	}
  .navbar-principal .navbar-nav .open .dropdown-menu > .dropdown-header {
    border-color: #080808;
  }
  .navbar-principal .navbar-nav .open .dropdown-menu > li > a {
    color: #9d9d9d;
  }
  .navbar-principal .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-principal .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #000;
    background-color: transparent;
  }
  .navbar-principal .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-principal .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-principal .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #fff;
    background-color: #080808;
  }
}
.navbar-principal .navbar-link {
  color: #9d9d9d;
}
.navbar-principal .navbar-link:hover {
  color: #fff;
}
.navbar-principal .btn-link {
  color: #9d9d9d;
}
.navbar-principal .btn-link:hover,
.navbar-principal .btn-link:focus {
  color: #fff;
}

.menutit {
  color: #0062c5;
  font-size: 30px;
  margin-top: 5px;
  margin-left: 20px;
  margin-bottom: 10px;
}

/*!
 *********************** OUT NAVBAR PRINCIPAL ***********************
 */

/*!
------------------------------ NAV-TABS ---------------------------------------------
 */

.nav-tabs {
  font-family: 'Poppins', ,sans-serif;
  background-color: #fbfbfb;
  border-bottom: 1px solid #c0c0c0;
   text-align:center;
   font-size:16px;
    
}
.nav-tabs > li {
  float:none;
  display:inline-block;
  margin: 0px;
}
.nav-tabs > li > a {
  padding: 20px;
  color: #4f8bb7;
  background-color: #fbfbfb;
  border-radius: 0 important!;
            border: 0px solid white;
}
.nav-tabs > li > a:hover {
	color: #1b394e;
  border-color: transparent;
  background-color: #fbfbfb;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus { 
  color: #1b394e;
  cursor: default;
            border-top: 0px solid white !important;
            border-left: 0px solid white !important;
            border-right: 0px solid white !important;

  background-color: #fbfbfb;
  border-bottom: 3px solid #1b394e;
}

@media (max-width: 767px) {
  .nav-tabs {
    width: 100%;
  }
  .nav-tabs > li {
  width: 100%;
  }
}





.bg-img {
  position: relative;
}
.bg-img-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.bg-img-caption {
  position: absolute;
  width: 100%;
  top: 0%;
  z-index: 10;
  color: #000;
}


/*!
 *********************** IN NAVBAR SEGUNDO ***********************
 */

.navbar-segundo{
	font-family:'Poppins',sans-serif;
	font-weight: 400;
	font-size: 16px;
	letter-spacing:-1px;
	background-color: #4e4e4e;
	border:0;
	margin:0;
}
.navbar-segundo .navbar-brand {
	font-family:'Poppins',sans-serif;
	font-size: 16px;
	background-color: #282828;
	color: #ffffff;
	text-align:left;
	margin-left:5px;
	width:280px;
}
.navbar-segundo .navbar-brand:hover,
.navbar-segundo .navbar-brand:focus {
  color: #ffffff;
  background-color: transparent;
}

.navbar-segundo .navbar-nav > li > a {
  color: #f3f4f4;
}
.navbar-segundo .navbar-nav > li > a:hover,
.navbar-segundo .navbar-nav > li > a:focus {
  color: #ffffff;
  background-color: transparent;
}
.navbar-segundo .navbar-nav > .active > a,
.navbar-segundo .navbar-nav > .active > a:hover,
.navbar-segundo .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: transparent;
}
.navbar-segundo .navbar-toggle {
  border-color: #333;
  margin:5px 20px 0px 0px;
}
.navbar-segundo .navbar-toggle:hover,
.navbar-segundo .navbar-toggle:focus {
  background-color: #333;
}
.navbar-segundo .navbar-toggle .icon-bar {
  background-color: #000;
}
.navbar-segundo .navbar-collapse,
.navbar-segundo .navbar-form {
  border-color: transparent;
}
.navbar-segundo .navbar-nav > .open > a,
.navbar-segundo .navbar-nav > .open > a:hover,
.navbar-segundo .navbar-nav > .open > a:focus {
  color: #000;
  background-color: #fff;
}
@media (max-width: 767px) {
  .navbar-segundo .navbar-nav .open .dropdown-menu > .dropdown-header {
    border-color: #080808;
  }
  .navbar-segundo .navbar-nav .open .dropdown-menu > li > a {
    color: #9d9d9d;
	border: 1px solid #9d9d9d;
	margin:0px;
  }
  .navbar-segundo .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-segundo .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #000;
    background-color: transparent;
  }
  .navbar-segundo .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-segundo .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-segundo .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #fff;
    background-color: #080808; 
  }
}
.navbar-segundo .navbar-link {
  color: #9d9d9d;
}
.navbar-segundo .navbar-link:hover {
  color: #fff;
}



/*!
 *********************** OUT NAVBAR SEGUNDO ***********************
 */


/*!
 *********************** IN LARGE MENU ***********************
 */

.dropdown-large {
  position: static !important;
}
.dropdown-menu-large {
  margin-left: 0px;
  margin-right: 0px;
  padding: 0px;
  width:100%;
  border-radius:0;
  background-color: #ffffff;
}
.dropdown-menu-large > li > ul {
  padding: 0;
  margin: 0;
}
.dropdown-menu-large > li > ul > li {
  list-style: none;
}

.dropdown-menu-large > li > a {
  color: #ffffff;
}

.dropdown-menu-large > li > a:hover {
  color: #0062c5;
  background-color: #0c2d47;
}

.dropdown-menu-large > li > ul > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #2d96cd;
  white-space: normal;
}
.dropdown-menu-large > li > ul > li > a:hover,
.dropdown-menu-large > li > ul > li > a:focus {
  text-decoration: none;
  color: #262626;
  background-color: #ffffff;
}
.dropdown-menu-large .dropdown-header {
  color: #428bca;
  font-size: 18px;
}
@media (max-width: 767px) {
  .dropdown-menu-large {
    margin-left: 0 ;
    margin-right: 0 ;
  }
  .dropdown-menu-large > li:last-child {
    margin-bottom: 0;
  }
}
/*!
 *********************** OUT LARGE MENU ***********************
 */


/*********************** IN SUBMENU ***********************/

.dropdown-menu {
    margin-top: -1px;
	border-radius:0;
}
.dropdown-menu > li > a {
    color: black;
	padding:10px;
  }
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    color: #b11010;
    background-color: transparent;
  }
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
    color: #b11010;
    background-color: #080808;
  }
/*********************** OUT SUBMENU ***********************/


/*********************** IN TOGLE BUTTON ***********************/
.navbar-toggle {
  border: none;
  background: transparent !important;
}
.navbar-toggle:hover {
  background: transparent !important;
}
.navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 3px;
  border-radius: 1px;
}
.navbar-toggle .icon-bar {
  width: 22px;
  transition: all 0.2s;
}
.navbar-toggle .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}
.navbar-toggle .middle-bar {
  opacity: 0;
}
.navbar-toggle .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 20% 80%;
}
.navbar-toggle.collapsed .top-bar {
  transform: rotate(0);
}
.navbar-toggle.collapsed .middle-bar {
  opacity: 1;
}
.navbar-toggle.collapsed .bottom-bar {
  transform: rotate(0);
}
/*********************** OUT TOGLE BUTTON ***********************/

#overlay-wa {
  position: fixed; /* Sit on top of the page content */
  bottom: 20%; 
  right: 0;
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

.planescolor {
  background-color: #3a6172; 
}
.planesletra {
  color: #3a6172; 
}

.search-slt {
    display: block;
    width: 100%;
    line-height: 1.5;
    color: #55595c;
    border: 1px solid #ccc;
    height: 50px !important;
    border-radius: 0;
}

.item-box-blog {
    box-shadow: 0 5px 5px rgba(0,0,0,.4);
    z-index: 4;
    padding: 0px;
	border-radius:15px;
    margin-bottom: 20px;
    padding-bottom: 5px;
	
}
.item-box-blog a:link, a:visited {
    color: #1e1e1e;
    text-decoration: none;
    display: inline-block;
}
.item-box-blog-image {
    position: relative;
    display: flex;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
    justify-content: center;
    align-items: center;
    height: 220px;
    overflow: hidden;
    background-color: #dcdcdc;
}
.item-box-blog-body {
    padding: 0px 20px 5px 20px;
}

.item-box-blog-text{
    height: 40px;
}

.item-box-blog-date {
    position: absolute;
    z-index: 5;
    padding: 4px;
    bottom:140px; 
    right: 25px;
	border-radius:50%;
    background-color: #ffffff;
}

.item-box-blog-date span {
    color: #fff;
    display: block;
    text-align: center;
    line-height: 1.2;
}

.item-box-blog-date span.mon {
    font-size: 13px;
}

.item-box-blog-image figure img {
    width: 100%;
    height: auto;
}

/*********************** IN BTN CONFIG ***********************/
@media screen and (min-width:768px){
	.btn-config{position: fixed;  bottom: 15%;  right: 16px; z-index: 2; cursor: pointer;width:64px;z-index:1}
}
.btn-config>div{display:table;height:100%;float:none;width:auto}
.btn-config>div div{display:table-cell;vertical-align:middle;float:none;width:auto}
.btn-config a{width:55px;height:55px;float:left;overflow:hidden;margin-bottom:12px;z-index:0;border-radius:0px;position:relative;margin-left:0;-webkit-transition:margin .5s ease,width .5s ease;-moz-transition:margin .5s ease,width .5s ease;-ms-transition:margin .5s ease,width .5s ease;-o-transition:margin .5s ease,width .5s ease;transition:margin .5s ease,width .5s ease}
.btn-config a:last-child{margin-bottom:0}.btn-config a:hover{width:250px;margin-left:-186px}
.btn-config a:hover span:nth-child(1){padding-left:27px}.btn-config a>span{overflow:hidden}
.btn-config a>span:nth-child(1){background-color:#2d96cd;position:absolute;float:left;width:99%;height:55px;border-radius:0px;z-index:1;top:0px;right:1px;font:1.2em/14px proximaNovaBold,Arial,Helvetica,sans-serif;color:#000;padding:12px 62px 16px 0;-webkit-transition:padding ease .5s;-moz-transition:padding ease .5s;-ms-transition:padding ease .5s;-o-transition:padding ease .5s;transition:padding ease .5s}
.btn-config a>span:nth-child(1) em{font:14px Regular,Arial,Helvetica,sans-serif; color:White; line-height:8px;}
.btn-config a>span:nth-child(2){background-color:#2d96cd;position:absolute;width:55px;height:55px;float:left;border-radius:0%;right:0;z-index:1}

@media screen and (max-width:767px){
	.btn-config{bottom:0px;right:0;width:100%;height:55px;bottom:1px}
	.btn-config>div{float:left;width:100%;display:block}
	.btn-config>div div{float:left;width:100%;display:block;height:100%;background-color:#2d96cd;padding:0 0}
	.btn-config a{width:33%;}
	.btn-config a>span:nth-child(1){display:none}
	.btn-config a>span:nth-child(2){right:25%!important}
}
/*********************** OUT BTN CONFIG ***********************/
